asgiref
certifi
distlib
Django
django-cors-headers
django-environ
django-filter
djangorestframework
djangorestframework-simplejwt
filelock
markdown
pipenv
platformdirs
pyjwt
pytz
setuptools
sqlparse
tzdata
virtualenv
virtualenv-clone